*>{
    box-sizing: border-box;
} 


@media (width<900px){
   .editor{
    grid-template-columns: 100vw;
   }

   .canvas-div{
    margin-bottom: 20px;
   }

  .editor-text{
    width: 500px;
    padding-top: 20px;
    padding-inline:50px ;
    border: 2px solid;
   }
   .icons{
    width: fit-content;
   }
}